.followBtn::before {
  content: "Following";
}
.followBtn:hover {
  background-color: rgb(241, 40, 40) !important;
  color: white;
}

.followBtn:hover::before {
  content: "Unfollow";
}

.selected {
  background-color: #1976d2 !important;
  color: white !important;
  border-radius: 5px !important;
}

.selectedIcon {
  color: white !important;
}

.circle {
  width: 150px; /* set the width and height of the div to match the size of your image */
  height: 150px;
  border-radius: 50%; /* set the border-radius property to 50% to create a circular shape */
  overflow: hidden; /* use overflow hidden to clip any parts of the image that go outside the div */
}

.circle img {
  width: 100%; /* make sure the image fills the entire circle */
  height: 100%;
  object-fit: cover; /* use object-fit to scale the image without distorting its aspect ratio */
}

.smallCircle {
  width: 60px; /* set the width and height of the div to match the size of your image */
  height: 60px;
  border-radius: 50%; /* set the border-radius property to 50% to create a circular shape */
  overflow: hidden; /* use overflow hidden to clip any parts of the image that go outside the div */
  cursor: pointer;
}

.smallCircle img {
  width: 100%; /* make sure the image fills the entire circle */
  height: 100%;
  object-fit: cover; /* use object-fit to scale the image without distorting its aspect ratio */
}

.navCircle {
  width: 35px; /* set the width and height of the div to match the size of your image */
  height: 35px;
  border-radius: 50%; /* set the border-radius property to 50% to create a circular shape */
  overflow: hidden; /* use overflow hidden to clip any parts of the image that go outside the div */
  cursor: pointer;
}

.navCircle img {
  width: 100%; /* make sure the image fills the entire circle */
  height: 100%;
  object-fit: cover; /* use object-fit to scale the image without distorting its aspect ratio */
}

.statusImage {
  display: block; /* This ensures the image is a block element and takes up the full width of its container */
  max-width: 95%; /* This ensures the image doesn't exceed the width of its container */
  height: auto; /* This ensures the image maintains its aspect ratio */
  margin: 0 auto; /* This centers the image horizontally within its container */
  border-radius: 5px; /* This adds a rounded border to the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow to the image */
}
